* {
    font-family: "Gabarito", sans-serif;
    margin: 0;
    padding: 0;
}



.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.navbar-section1__title {
    color: #9f43d7;
}

.navbar__section2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}



.navbar__section2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__section2 input:focus {
    outline: none;
}

.navbar__section3 {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    text-align: center;


}

.navbar__section3 p {
    padding: 0px auto;
}

.navbar__section3 p:hover {
    font-weight: bold;

}

.navbar__section4 {
    display: none;
}

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning__popup {
    position: absolute;
    width: 100px;
    padding: 10px;
    background-color: #9f43d7;
    border: 1px solid black;
    top: 30px;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;

}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

}

.categories p {
    border: 1px solid #9f43d7;
    color: white;
    background-color: #9f43d7;
    padding: 10px;
    border-radius: 30px;
    flex-grow: 1;
    text-align: center;
}

.categories p:hover {
    background-color: white;
    color: #9f43d7;
    transition: 1s;
    cursor: pointer;
}

.coversection img {
    width: 100%;
    display: block;
}

.coversection {
    position: relative;
}

.offerimage {
    width: fit-content;
    background-color: white;
    padding: 20px 20px;
    border: 1px solid black;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

.recommendedsec {
    padding: 10px;
}

.recommended_container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;



}


.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    border: 3px solid white;
}

.course-card:hover {
    width: 300px;
    background-color: white;
    border: 3px solid #9f43d7;



}

.course-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 5px auto;
}

.topicsection {
    padding: 10px;
}

.topic_container {
    display: flex;
    gap: 20px;
    margin: 10px;
    flex-wrap: wrap;
    
}

.topic_container p {

    border: 2px solid lightgray;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    text-align: center;

}

.topic_container p:hover {
    background-color: #9f43d7;

}

.popularsection {
    padding: 10px;
}

.popular_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}


.footer__one {
    display: flex;
    gap: 50px;
}

.footer__one p {
    margin: 20px;
}

.footer__one p:hover {
    text-decoration: underline;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    .course-card {
        flex-grow: 1;
        flex-basis: 45%;
    }

    .navbar__section3 {
        display: none;
    }

    .navbar__section4 {
        display: block;
    }
    .categories{
        display: none;
    }
}
